* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  background-color: #141414;
  height: 600px;
}

footer .container {
  padding-top: 80px;
}

footer .container .row .col-lg-7 .logo a img {
  width: 150px;
  height: 43px;
}

footer .container .row .col-lg-7 .language-list {
  padding-top: 40px;
}

footer .container .row .col-lg-7 .language-list select {
  background-color: transparent;
  border: 1px solid #949494;
  border-radius: 0;
  color: #949494;
  width: 257px;
  height: 47px;
  padding: 10px 32px 10px 15px;
  -webkit-appearance: none;
  font-size: 18px;
}

footer .container .row .col-lg-7 .language-list select option {
  background-color: #141414;
  color: #949494;
}

footer .container .row .col-lg-7 .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}

footer .container .row .col-lg-7 .download .google {
  margin-right: 17px;
}

footer .container .row .col-lg-7 .download .google a img {
  width: 125px;
  height: 38px;
}

footer .container .row .col-lg-7 .download .apple {
  margin-right: 17px;
}

footer .container .row .col-lg-7 .download .apple a img {
  width: 125px;
  height: 38px;
}

footer .container .row .col-lg-7 .download .samsung a img {
  width: 140px;
  height: 38px;
}

footer .container .row .col-lg-5 .row .col-lg-7.left .title h3 {
  color: #949494;
  font-size: 18px;
}

footer .container .row .col-lg-5 .row .col-lg-7.left .option-list ul {
  list-style: none;
  padding: 0;
}

footer .container .row .col-lg-5 .row .col-lg-7.left .option-list ul li {
  font-size: 18px;
  line-height: 38px;
}

footer .container .row .col-lg-5 .row .col-lg-7.left .option-list ul li a {
  text-decoration: none;
  color: white;
}

footer .container .row .col-lg-5 .row .col-lg-5.right .title h3 {
  color: #949494;
  font-size: 18px;
}

footer .container .row .col-lg-5 .row .col-lg-5.right .option-list ul {
  list-style: none;
  padding: 0;
}

footer .container .row .col-lg-5 .row .col-lg-5.right .option-list ul li {
  font-size: 18px;
  line-height: 38px;
}

footer .container .row .col-lg-5 .row .col-lg-5.right .option-list ul li a {
  text-decoration: none;
  color: white;
}

footer .container .row .bottom .follow-us {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  color: #949494;
}

footer .container .row .bottom .social-medias {
  margin-top: 20px;
}

footer .container .row .bottom .social-medias ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .row .bottom .social-medias ul li {
  margin-right: 38px;
}

footer .container .row .bottom .social-medias ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

footer .container .row .bottom .social-medias ul #last-icon {
  margin: 0px;
}

footer .container .row .bottom .copyright p {
  color: #646464;
  text-align: center;
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */